<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/welcome.css" />
    <script src="/js/success.js" defer></script>
    <title>Hello</title>
  </head>
  <body>
    <p>Hello!</p>
    <button class="first">처음으로</button>
  </body>
</html>
