<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/login.js" defer></script>
    <title>login</title>
  </head>
  <body>
    <input type="text" class="ID" placeholder="ID입력" /><br />
    <input type="text" class="PW" placeholder="PW입력" />
    <button class="loginBtn">로그인</button>
    <button class="backBtn">뒤로 가기</button>
  </body>
</html>
