<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/signup.js" defer></script>
    <title>login</title>
  </head>
  <body>
    <input type="text" class="inputID" placeholder="ID입력" /><br />
    <input type="text" class="inputPW" placeholder="PW입력" /><br />
    <input type="text" class="userName" placeholder="이름 입력" />
    <button class="complete">완료</button>
  </body>
</html>
